@media (max-width: 599px){
	body{
		.innerBody{
			.headerMusic{
				height: 148px !important;
				overflow: initial;

				.playerBox{
					float: left;
					width: 100%;

					.buttons{
						margin: 0 auto 4px;
						transition: .6s;
						display: flex;
						height: 52px;
						width: 148px;

						.previous,
						.next{
							border-radius: 3px;
							margin: 8px 0;
							height: 36px;
							width: 36px;
							float: left;

							svg{
								padding: 6px;
								height: 24px;
								width: 24px;
								fill: #fff;
							}

							&:active{
								background: rgba(255,255,255, 0.5);
							}
						}

						.playPause{
							box-sizing: border-box;
							border: 2px solid #fff;
							border-radius: 50%;
							margin: 0 12px;
							height: 52px;
							width: 52px;

							.play,
							.pause{
								svg{
									padding: 8px;
									height: 32px;
									width: 32px;
									fill: #fff;
								}
							}

							.pause{
								display: none;
							}
						}
					}

					.titleAndProgress{
						width: 100%;
						float: left;
						height: 36px;

						.titleDuration{
							display: flex;
							margin: 0 2%;
							float: left;
							width: 96%;

							.text,
							.duration{
								text-overflow: ellipsis;
								white-space: nowrap;
								line-height: 32px;
								overflow: hidden;
								text-align: left;
								font-size: 13px;
								height: 32px;
								color: #fff;
								width: 100%;
								float: left;
							}

							.duration{
								text-align: right;
								width: 120px;
							}
						}

						.progress{
							background: rgba(255,255,255,.5);
							width: 100%;
							height: 4px;
							float: left;

							.buffer{
								background-color: #fff;
								position: relative;
								margin: -4px 0 0 0;
								opacity: .5;
								float: left;
								height: 4px;
								z-index: -1;
							}

							input[type=range] {
								background-color: transparent;
								background-repeat: no-repeat;
								-webkit-appearance: none;
								background-size: 0 100%;
								position: relative;
								outline: none;
								margin: auto;
								width: 100%;
								height: 4px;
								float: left;
								padding: 0;

								&::-webkit-slider-runnable-track, 
								&::-webkit-slider-thumb {
									-webkit-appearance: none;
								}

								&::-webkit-slider-thumb {
									position: relative;
									margin: 0;
									border: none;
									width: 14px;
									height: 14px;
									transition: .3s;
									border-radius: 50%;
									background: #132030;
									border: 4px solid #fff;
									cursor: ew-resize;
									box-shadow: 0 5px 10px 0 rgba(0,0,0,.29),0 13px 30px 0 rgba(0,0,0,.17);
								}

								&::-moz-range-thumb
								&::-ms-thumb, {
									border: none;
									width: 16px;
									height: 16px;
									border-radius: 50%;
									box-shadow: inset 1px 1px 3px #00cafc;
									background: #fff;
									cursor: ew-resize;
								}
							}
						}
					}
				}
			}

			.innerBodyContent{
				.pageMusic{
					margin:  154px auto 0;
					text-align: center;

					.searchBox{
						border-radius: 3px;
						overflow: hidden;
						background: #fff;
						transition: .3s;
						margin: 12px 2%;
						height: 40px;
						float: left;
						width: 96%;
					
						input{
							padding: 12px 26% 12px 12%;
							border-style: none;
							line-height: 16px;
							background: none;
							font-size: 13px;
							outline: none;
							float: left;
							color: #000;
							width: 62%;
						}

						svg{
							margin: 12px 0 0 12px;
							position: absolute;
							height: 18px;
							width: 18px;
							fill: #777;
							left: 2%;
						}

						.searchApply{
							margin: -40px 0 0 0;
							position: relative;
							float: right;

							.button{
								padding: 8px;
								height: 24px;
								width: 24px;
								float: left;
								
								svg{
									margin: 0 0 0 2px;
									position: inherit;
									height: 24px;
									width: 24px;
									fill: #777;
								}

								&:nth-child(2){
									display: none;
									
									svg{
										margin: 4px 0 0 4px;
										height: 16px;
										width: 16px;
									}
								}
							}
						}
					}

					ul.songsListBox{
						list-style: none;
						padding: 0;
						margin: 0;

						li{
							box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
							border-radius: 3px;
							margin: 6px 2%;
							display: flex;
							float: left;
							width: 96%;

							.playPause{
								border-right: 1px solid rgba(255, 255, 255, 0.23);
								box-sizing: border-box;
								height: 36px;
								width: 36px;

								svg{
									height: 24px;
									padding: 6px;
									width: 24px;
									fill: #fff;
								}
							}

							.text,
							.duration{
								text-overflow: ellipsis;
								white-space: nowrap;
								line-height: 36px;
								overflow: hidden;
								text-align: left;
								font-size: 13px;
								padding: 0 8px;
								height: 36px;
								color: #fff;
								width: 100%;
								float: left;
							}

							.duration{
								text-align: right;
								width: 70px;
							}

							.actions{
								border-left: 1px solid rgba(255, 255, 255, 0.23);
								border-radius: 0 3px 3px 0;
								box-sizing: border-box;
								height: 36px;
								width: 36px;

								svg{
									padding: 12px;
									height: 12px;
									width: 12px;
									fill: #fff;
								}

								&:active{
									background: rgba(255, 0, 0, 0.5);
								}
							}

							.deleteBoxConfirmation{
								box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
								border-radius: 3px;
								position: absolute;
								margin: -36px 0 0;
								background: #fff;
								display: none;
								padding: 6px;
								float: right;
								right: 2%;

								.text{
									padding: 4px 6px 8px;
									line-height: 24px;
									color: #404040;
									width: inherit;
									height: 24px;
									margin: 0;
								}

								.buttons{
									text-align: center;
									display: flex;
									width: 100%;
									margin: 0;

									button{
										border-radius: 3px;
										background: #f00;
										outline: none;
										margin: 0 4px;
										border: none;
										height: 28px;
										color: #fff;
										width: 100%;

										&:last-child{
											background: #09f;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}