@media (max-width: 599px){
	body{
		.innerBody{
			.headerMusic{
				height: 148px !important;
				overflow: initial;

				.playerBox{
					float: left;
					width: 100%;

					.buttons{
						margin: 0 auto 4px;
						transition: .6s;
						display: flex;
						height: 52px;
						width: 148px;

						.previous,
						.next{
							border-radius: 3px;
							margin: 8px 0;
							height: 36px;
							width: 36px;
							float: left;

							svg{
								padding: 6px;
								height: 24px;
								width: 24px;
								fill: #fff;
							}

							&:active{
								background: rgba(255,255,255, 0.5);
							}
						}

						.playPause{
							box-sizing: border-box;
							border: 2px solid #fff;
							border-radius: 50%;
							margin: 0 12px;
							height: 52px;
							width: 52px;

							.play,
							.pause{
								svg{
									padding: 8px;
									height: 32px;
									width: 32px;
									fill: #fff;
								}
							}

							.pause{
								display: none;
							}
						}
					}

					.titleAndProgress{
						width: 100%;
						float: left;
						height: 36px;

						.titleDuration{
							display: flex;
							margin: 0 2%;
							float: left;
							width: 96%;

							.text,
							.duration{
								text-overflow: ellipsis;
								white-space: nowrap;
								line-height: 32px;
								overflow: hidden;
								text-align: left;
								font-size: 13px;
								height: 32px;
								color: #fff;
								width: 100%;
								float: left;
							}

							.duration{
								text-align: right;
								width: 120px;
							}
						}

						.progress{
							background: rgba(255,255,255,.5);
							width: 100%;
							height: 4px;
							float: left;

							.buffer{
								background-color: #fff;
								position: relative;
								margin: -4px 0 0 0;
								opacity: .5;
								float: left;
								height: 4px;
								z-index: -1;
							}

							input[type=range] {
								background-color: transparent;
								background-repeat: no-repeat;
								-webkit-appearance: none;
								background-size: 0 100%;
								position: relative;
								outline: none;
								margin: auto;
								width: 100%;
								height: 4px;
								float: left;
								padding: 0;

								&::-webkit-slider-runnable-track, 
								&::-webkit-slider-thumb {
									-webkit-appearance: none;
								}

								&::-webkit-slider-thumb {
									position: relative;
									margin: 0;
									border: none;
									width: 14px;
									height: 14px;
									transition: .3s;
									border-radius: 50%;
									background: #132030;
									border: 4px solid #fff;
									cursor: ew-resize;
									box-shadow: 0 5px 10px 0 rgba(0,0,0,.29),0 13px 30px 0 rgba(0,0,0,.17);
								}

								&::-moz-range-thumb
								&::-ms-thumb, {
									border: none;
									width: 16px;
									height: 16px;
									border-radius: 50%;
									box-shadow: inset 1px 1px 3px #00cafc;
									background: #fff;
									cursor: ew-resize;
								}
							}
						}
					}
				}
			}

			.innerBodyContent{
				.pageMusic{
					margin:  154px auto 0;
					text-align: center;

					.searchBox{
						margin: 12px 2%;
						float: left;
						width: 96%;

						form{
							input{
								box-sizing: border-box;
								border-radius: 3px;
								padding: 0px 36px;
								background: #fff;
								font-size: 14px;
								color: #404040;
								border: none;
								height: 36px;
								width: 100%;
								float: left;
								outline: 0;

								&:focus{
									border: 1px solid #09f;
								}
							}

							.searchIcon,
							.loaderIcon,
							.clearIcon{
								margin: -36px 0 0;
								height: 36px;
								width: 36px;
								float: left;

								svg{
									padding: 6px;
									height: 24px;
									width: 24px;
									fill:#aaa;
								}
							}

							.clearIcon{
								float: right;
							}

							.loaderIcon{
								display: none;

								svg{
									padding: 10px;
									height: 16px;
									width: 16px;

									.qp-circular-loader {
										width: 64px;
										height: 64px;
										stroke-width: 3px;
									}
									.qp-circular-loader-path {
										stroke-dasharray: 58.9;
										stroke-dashoffset: 58.9;
									}
									.qp-circular-loader,
									.qp-circular-loader * {
										transform-origin: 50% 50%;
									}	
									.qp-circular-loader {
										animation-iteration-count: infinite;
										animation-timing-function: linear;
										animation-name: rotatespinner;
										animation-duration: 1568.63ms;
									}
									.qp-circular-loader-path {
										animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1), steps(4), linear;
										animation-iteration-count: infinite, infinite, infinite;
										animation-name: fillunfill, rotspinner, colorspinner;
										animation-play-state: running, running, running;
										animation-duration: 1333ms, 5332ms, 5332ms;
										animation-fill-mode: forwards;
									}
								}
							}
						}
					}

					ul.songsListBox{
						list-style: none;
						padding: 0;
						margin: 0;

						li{
							border-radius: 3px;
							margin: 6px 2%;
							display: flex;
							float: left;
							width: 96%;

							.playPause{
								box-sizing: border-box;
								height: 36px;
								width: 36px;

								svg{
									padding: 6px;
									height: 24px;
									width: 24px;
									fill: #fff;
								}
							}

							.text,
							.duration{
								text-overflow: ellipsis;
								white-space: nowrap;
								line-height: 36px;
								overflow: hidden;
								text-align: left;
								font-size: 13px;
								padding: 0 8px;
								height: 36px;
								color: #fff;
								width: 100%;
								float: left;
							}

							.duration{
								text-align: right;
								width: 70px;
							}

							.actions{
								box-sizing: border-box;
								height: 36px;
								width: 36px;

								svg{
									padding: 6px;
									height: 24px;
									width: 24px;
									fill: #fff;
								}

								.delete{
									border-radius: 3px;
									height: 100%;
									width: 100%;

									&:active{
										background: rgba(255, 0, 0, 0.5);
									}
								}

								.add{
									border-radius: 3px;
									height: 100%;
									width: 100%;
									
									&:active{
										background: rgba(0, 153, 255, 0.5);
									}
								}

								.added{
									display: none;

									svg{
										fill: #09f;
									}
								}
							}

							.deleteBoxConfirmation{
								box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
								border-radius: 3px;
								position: absolute;
								margin: -36px 0 0;
								background: #fff;
								display: none;
								padding: 6px;
								float: right;
								right: 2%;

								.text{
									padding: 4px 6px 8px;
									line-height: 24px;
									color: #404040;
									width: inherit;
									height: 24px;
									margin: 0;
								}

								.buttons{
									text-align: center;
									display: flex;
									width: 100%;
									margin: 0;

									button{
										border-radius: 3px;
										background: #f00;
										outline: none;
										margin: 0 4px;
										border: none;
										height: 28px;
										color: #fff;
										width: 100%;

										&:last-child{
											background: #09f;
										}
									}
								}
							}

							&.active{
								box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
								background-color: rgba(255, 255, 255, 0.07);
							}
						}
					}
				}
			}
		}
	}
}