@keyframes uploading {
	0% {
		fill: #ccc;
		transform: translateY(6px);
	}
	25% {
		fill: #09f;
		opacity: 1;
	}
	50% {
		fill: #09f;
		opacity: .75;
		transform: translateY(-4px);
	}
	90% {
		opacity: 0;
		transform: translateY(-4px);
	}
	100% {
		opacity: 0;
		transform: translateY(6px);
	}
}

/*CROPPER MODAL WINDOW*/
.messageModalWindow{
	background: rgba(0, 0, 0, .5);
	overflow-y: scroll;
	position: fixed;
	transition: .3s;
	overflow: auto;
	z-index: 9999;
	outline: 0;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	display: none;


	.box{
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		box-sizing: border-box;
		border-radius: 3px;
		background: #fff;
		margin: 12px 2%;
		float: left;
		width: 96%;

		.head{
			box-sizing: border-box;
			padding: 12px 2.5%;
			color: #404040;
			float: left;
			width: 100%;

			.image{
				border: 1px solid #404040;
				box-sizing: border-box;
				border-radius: 50%;
				overflow: hidden;
				height: 36px;
				width: 36px;
				float: left;

				img{
					height: 100%;
					width: 100%;
				}
			}

			.name{
				margin: 2px 0 0 12px;
				font-size: 15px;
				float: left;
				color: #404040;

				.date{
					color: rgba(0, 0, 0, 0.5);
					margin: 2px 0 0;
					font-size: 11px;
				}
			}

			.search{
				float: left;
				width: 100%;

				form{
					input{
						border: 1px solid #404040;
						background: transparent;
						box-sizing: border-box;
						border-radius: 3px;
						padding: 0px 36px;
						font-size: 15px;
						color: #404040;
						height: 36px;
						width: 100%;
						float: left;
						outline: 0;

						&:focus{
							border: 1px solid #09f;
						}
					}

					.searchIcon,
					.loaderIcon,
					.clearIcon{
						margin: 0 0 -36px;
						height: 36px;
						width: 36px;
						float: left;

						svg{
							padding: 6px;
							height: 24px;
							width: 24px;
							fill:#aaa;
						}
					}

					.clearIcon{
						margin: -36px 0 0;
						float: right;
					}

					.loaderIcon{
						display: none;

						svg{
							padding: 10px;
							height: 16px;
							width: 16px;

							.qp-circular-loader {
								width: 64px;
								height: 64px;
								stroke-width: 3px;
							}
							.qp-circular-loader-path {
								stroke-dasharray: 58.9;
								stroke-dashoffset: 58.9;
							}
							.qp-circular-loader,
							.qp-circular-loader * {
								transform-origin: 50% 50%;
							}	
							.qp-circular-loader {
								animation-iteration-count: infinite;
								animation-timing-function: linear;
								animation-name: rotatespinner;
								animation-duration: 1568.63ms;
							}
							.qp-circular-loader-path {
								animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1), steps(4), linear;
								animation-iteration-count: infinite, infinite, infinite;
								animation-name: fillunfill, rotspinner, colorspinner;
								animation-play-state: running, running, running;
								animation-duration: 1333ms, 5332ms, 5332ms;
								animation-fill-mode: forwards;
							}
						}
					}
				}
			}

			.searchReceiverDataList{
				box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
				margin: 39px 0px 0 0px;
				border-radius: 3px;
				position: absolute;
				max-height: 220px;
				overflow-y: auto;
				background: #fff;
				width: 92%;
				padding: 0;
				left: 4%;

				.receiverBox{
					border-bottom: 1px solid #e5e5e5;
					height: 48px;
					margin: 0 2%;
					float: left;
					width: 96%;

					.image{
						border: 1px solid #404040;
						box-sizing: border-box;
						border-radius: 50%;
						overflow: hidden;
						margin: 6px 0 0;
						height: 36px;
						width: 36px;
						float: left;

						img{
							height: 100%;
							width: 100%;
						}
					}

					.name{
						margin: 6px 0 0 12px;
						line-height: 36px;
						font-size: 15px;
						color: #404040;
						height: 36px;
						float: left;
					}

					&:active{
						background: #09f;
					}
				}

				.noData{
					text-transform: uppercase;
					font-weight: normal;
					text-align: center;
					line-height: 56px;
					color: #404040;
					height: 56px;
					margin: 0 2%;
					float: left;
					width: 96%;
				}
			}
		}

		.body{
			border-bottom: 1px solid rgba(0, 0, 0, 0.25);
			box-sizing: border-box;
			word-break: break-all;
			padding: 12px 8px;
			font-size: 14px;
			color: #404040;
			float: left;
			width: 100%;
		}

		.answerBox{
			display: none;
			float: left;
			width: 100%;

			textarea{
				border: 1px solid rgba(0, 0, 0, 0.5);
				background: transparent;
				box-sizing: border-box;
				border-radius: 3px;
				padding: 6px 8px;
				min-height: 96px;
				font-size: 14px;
				color: #404040;
				margin: 12px 0;
				outline: none;
				float: left;
				width: 100%;

				&:focus{
					border-color: #09f;
				};
			}
		}

		.newMessageForm{
			.answerBox{
				display: block;
			}

			.buttons{
				button{
					&:last-child{
						display: block;
					}
				}
			}
		}

		.buttons{
			border-top: 1px solid #c6c6c6;
			width: 100%;
			float: left;

			button{
				background: transparent;
				background: #404040;
				border-radius: 3px;
				line-height: 36px;
				font-size: 13px;
				padding: 0 12px;
				margin: 12px 2%;
				outline: none;
				float: right;
				border: none;
				height: 36px;
				color: #fff;

				&:first-child{
					color: #fff;
					/*display: none;*/
				}

				&:active{
					background: #e5e5e5;
				}
			}
		}

		.upload{
			box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
			text-transform: uppercase;
			font-weight: normal;
			text-align: center;
			border-radius: 3px;
			margin: 12px 2.5%;
			background: #fff;
			color: #404040;
			outline: none;
			border: none;
			height: 36px;
			float: left;
			padding: 0;
			width: 95%;

			&:active{
				background: #09f;
				color: #fff;

				svg{
					fill: #fff;
				}
			}

			svg{
				margin: 8px 4px -7px 0;
				fill: #404040;
				height: 24px;
				width: 24px;
			}

			label {
		    	display: block;
			    height: 100%;
			    width: 100%;
			}

			input{
				display: none;
			}
		}

		.filesBox{
			width: 100%;
		
			.fileStatus{
				margin: 4px 2.5%;
				float: left;
				width: 95%;

				.title{
					text-overflow: ellipsis;
					box-sizing: border-box;
					white-space: nowrap;
					font-weight: normal;
					overflow: hidden;
					text-align: left;
					font-size: 13px;
					color: #404040;
					padding: 0 4px;
					height: 36px;
					line-height: 36px;
					float: left;
					width: 80%;
				}

				.operations{
					height: 36px;
					float: left;
					width: 20%;

					.status{
						border: 2px solid #ccc;
						box-sizing: border-box;
						border-radius: 50%;
						margin: 2px 0 0 0;
						float: right;
						height: 32px;
						width: 32px;

						.progress{
							margin: -2px 0 0 -2px;
							position: absolute;
							height: 32px;
							width: 32px;

							svg{
								transform: rotate(-90deg);
								height: 100%;
								width: 100%;

								circle{
									transition: 1ms stroke-dashoffset;
									stroke-dashoffset: 100;
									stroke-dasharray: 100;
									stroke-linecap: round;
									stroke-width: 2;
									stroke: #09f;
									cy: 16;
									cx: 16;
									r: 15;
								}
							}
						}

						.percentage{
							margin: -2px 0 0 -2px;
							font-weight: normal;
							position: absolute;
							text-align: center;
							line-height: 32px;
							font-size: 10px;
							height: 32px;
							width: 32px;
							color: #999;
						}

						.loading{
							display: none;
							position: absolute;
							overflow: hidden;
							height: 28px;
							width: 28px;
							margin: 0;

							svg{
								animation: uploading .6s infinite;
								fill: #404040;
								padding: 4px;
								height: 20px;
								width: 20px;
							}
						}

						.result{

							svg{
								padding: 4px;
								height: 20px;
								width: 20px;
							}
						}
					}
				}

				progress{
					background: #ccc;
					border: none;
					float: left;
					width: 100%;
					height: 4px;

					&::-webkit-progress-bar {
						background: #ccc;
					}
					&::-webkit-progress-value {
						background: #09f;
					}
					&::-moz-progress-bar {
						background: #09f;
					}
					&::-ms-fill {
						background: #09f;
					}
				}
			}
		}

		.slidePhotosBox{
			width: 100%;
			float: left;

			.container{
				width: 100%;
				float: left;

				.boxPhoto{
					background: #1e1e1e;
					position: relative;
					height: 360px;
					width: 100%;
					float: left;

					.counter{
						text-shadow: 1px 1px 3px #000;
						position: absolute;
						text-align: center;
						line-height: 32px;
						height: 32px;
						width: 100%;
						color: #fff;
					}

					.image{
						display: flex;
						height: 360px;
						width: 100%;

						img{
							max-height: 100%;
							max-width: 100%;
							margin: auto;
						}
					}


					.prev,
					.next{
						position: absolute;
						margin-top: 100px;
						height: 160px;
						width: 86px;

						svg{
							filter: drop-shadow(0px 4px 2px rgba(0,0,0,.5));
							padding: 64px 49px 64px 5px;
							height: 32px;
							width: 32px;
							fill: #fff;
						}
					}

					.next{
						right: 0;

						svg{
							padding: 64px 5px 64px 49px;
						}
					}
				}

				.boxData{
					position: relative;
					background: #fff;
					width: 100%;
					float: left;

					.user{
						border-bottom: 1px solid #c6c6c6;
						border-top: 1px solid #c6c6c6;
						height: 54px;
						width: 100%;
						float: left;

						.avatar{
							border: 1px solid #404040;
							border-radius: 50%;
							margin: 10px 12px;
							height: 36px;
							width: 36px;
							float: left;

							img{
								border-radius: 50%;
								background: #09f;
								height: 100%;
								width: 100%;
							}
						}

						.name{
							line-height: 14px;
							margin: 16px 0 0;
							font-size: 14px;
							color: #404040;
							height: 14px;
							float: left;
							width: 80%;
						}

						.actions{
							margin: 4px 0 0;
							float: left;
							width: 80%;

							.date{
								line-height: 10px;
								font-size: 10px;
								color: #404040;
								height: 10px;
								float: left;
								margin: 0;
							}

							.analytics{
								margin: -8px 0 0;
								float: right;

								.comments,
								.likes {
									float: right;
									height: 24px;
									width: 64px;
									color: #09f;

									svg{
										margin: 2px 4px -2px 4px;
										height: 20px;
										width: 20px;
										fill: #09f;
									}
								}
							}
						}
					}

					.comments{
						float: left;
						width: 100%;

						.commentsList{
							padding: 12px 0;
							margin: 0 2%;
							float: left;
							width: 96%;

							.item{
								margin: 2px 0;
								width: 100%;
								float: left;

								.avatar{
									box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
									border-radius: 50%;
									margin: 0 0 0 4px;
									overflow: hidden;
									height: 36px;
									width: 36px;
									float: left;
								}

								.name{
									padding: 2px 12px;
									font-size: 13px;
									color: #404040;
									float: left;

									a{
										text-decoration: none;
										color: #404040;
										
										&:hover,
										&:active{
											color: #09f;
										}
									}
								}

								.content{
									text-overflow: ellipsis;
									word-break: break-word;
									margin: -12px 0 0 50px;
									line-height: 15px;
									min-height: 15px;
									font-size: 13px;
									float: left;
									color: #999;
									width: 100%;

									.inner{
										padding: 0 56px 12px 0;
									}
								}

								.delete{
									margin: 0 4px 0 0;
									float: right;

									svg{
										fill: #404040;
										height: 20px;
										width: 20px;
									}
								}

								.deleteBoxConfirmation{
									box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
									border-radius: 3px;
									position: absolute;
									background: #fff;
									display: none;
									padding: 6px;
									float: right;
									margin: 2px;
									z-index: 9;
									right: 0;

									.text{
										padding: 4px 6px 8px;
										line-height: 24px;
										color: #404040;
										width: inherit;
										height: 24px;
										margin: 0;
									}

									.buttons{
										text-align: center;
										display: flex;
										width: 100%;
										margin: 0;

										button{
											border-radius: 3px;
											background: #f00;
											outline: none;
											margin: 0 4px;
											border: none;
											height: 28px;
											color: #fff;
											width: 100%;

											&:last-child{
												background: #09f;
											}
										}
									}
								}
							}
						}

						.noComents{
							text-align: center;
							padding: 12px 0;
							color: #404040;
						}

						.newComment{
							width: 100%;
							float: left;

							.inputBox{
								box-shadow: inset 0 -1px 0 0 #333;
								padding: 8px 13% 8px 3%;
								margin: 18px 3% 12px;
								background: none;
								font-size: 13px;
								transform: none;
								color: #404040;
								outline: none;
								border: none;
								resize: none;
								height: 18px;
								width: 78%;

								&:focus{
									box-shadow: inset 0 -1px 0 0 #09f;
								}
							}

							.button{
								padding: 6px 7% 2px 3%;
								border-radius: 3px;
								position: relative;
								margin: -50px 0 0;
								float: right;
								height: 26px;
								color: #fff;
								width: 3%;

								svg{
									height: 22px;
									width: 22px;
									fill: #333;
								}
							}
						}

						.loadMore{
							text-align: center;
							border-radius: 3px;
							line-height: 36px;
							background: #fff;
							margin: 12px 10%;
							color: #404040;
							height: 36px;
							float: left;
							width: 80%;

							&:active{
								background: #09f;
								color: #fff;
							}
						}

						.registerToComment{
							text-transform: uppercase;
							text-align: center;
							padding: 12px 0;
							float: left;
							color: #09f;
							width: 100%;
						}
					}
				}
			}
		}
	}
}

.showModal{
	background: rgba(0, 0, 0, 0.666); 
}

.modalDisplay{
	display: block; 
}

.modalHidden{
	overflow: hidden;
}