@media (max-width: 899px){
	body{
		.innerBody{
			.innerBodyContent{
				.pageRegister{
					margin: 120px 0 0 0 !important;

					.pageTitle{
						text-transform: uppercase;
						line-height: 36px;
						margin: 12px 3%;
						font-size: 32px;
						padding: 0 2%;
						color: #fff;
						width: 90%;
					}

					label{
						margin: 12px 5% 0;
						font-size: 13px;
						color: #fff;
						float: left;
						width: 90%;
					}

					.inputRegister{
						border: 1px solid #fff;
						border-radius: 3px;
						background: none;
						margin: 12px 3%;
						font-size: 14px;
						transition: .3s;
						outline: none;
						padding: 0 2%;
						height: 36px;
						color: #fff;
						width: 90%;

						&:focus{
							border: 1px solid #09f;
						}
					}

					.nameStatus,
					.emailStatus,
					.passwordStatus{
						margin: -40px 8px 0 0;
						position: absolute;
						right: 3%;

						.yes{
							display: none;

							svg{
								fill: #2196F3;
								height: 20px;
								width: 20px;
							}
						}

						.padlock,
						.no{
							display: none;

							svg{
								fill: #F44336;
								height: 20px;
								width: 20px;
							}
						}

						.loader{
							display: none;

							svg{
								height: 20px;
								width: 20px;

								.qp-circular-loader {
									width: 64px;
									height: 64px;
									stroke-width: 3px;
								}
								.qp-circular-loader-path {
									stroke-dasharray: 58.9;
									stroke-dashoffset: 58.9;
								}
								.qp-circular-loader,
								.qp-circular-loader * {
									transform-origin: 50% 50%;
								}	
								.qp-circular-loader {
									animation-iteration-count: infinite;
									animation-timing-function: linear;
									animation-name: rotatespinner;
									animation-duration: 1568.63ms;
								}
								.qp-circular-loader-path {
									animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1), steps(4), linear;
									animation-iteration-count: infinite, infinite, infinite;
									animation-name: fillunfill, rotspinner, colorspinner;
									animation-play-state: running, running, running;
									animation-duration: 1333ms, 5332ms, 5332ms;
									animation-fill-mode: forwards;
								}
							}
						}

						.strength{
							background: rgba(255, 255, 255, 0.25);
							margin: 7px 0 0 -24px;
							position: absolute;
							border-radius: 3px;
							overflow: hidden;
							height: 5px;
							width: 24px;

							.bar{
								transition: .3s;
								height: 5px;
								background: #09F;
							}
						}
					}

					.terms{
						margin: 24px 4%;
						width: 92%;
						color: #777;

						a{
							color: #aaa;
						}
					}

					.button{
						text-transform: uppercase;
						text-overflow: ellipsis;
						white-space: nowrap;
						background: #0C98F5;
						border-radius: 3px;
						text-align: center;
						line-height: 42px;
						margin: 32px auto;
						transition: .45s;
						appearance: none;
						font-size: 13px;
						display: block;
						outline: none;
						border: none;
						height: 42px;
						color: #fff;
						width: 94%;

						svg {
							margin: 0px 4px -2px 0px;
							height: 16px;
							width: 16px;
							display: none;

							.qp-circular-loader {
								width: 64px;
								height: 64px;
								stroke-width: 3px;
							}

							.qp-circular-loader-path {
								stroke-dasharray: 58.9;
								stroke-dashoffset: 58.9;
							}

							.qp-circular-loader,
							.qp-circular-loader * {
								transform-origin: 50% 50%;
							}

							.qp-circular-loader {
								animation-iteration-count: infinite;
								animation-timing-function: linear;
								animation-name: rotatespinner;
								animation-duration: 1568.63ms;
							}

							.qp-circular-loader-path {
								animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1), steps(4), linear;
								animation-name: fillunfill, rotspinner, colorspinnerwhite;
								animation-iteration-count: infinite, infinite, infinite;
								animation-play-state: running, running, running;
								animation-duration: 1333ms, 5332ms, 5332ms;
								animation-fill-mode: forwards;
							}
						}
					}

					.registerPopup{
						background: rgba(0, 0, 0, 0.75);
						position: fixed;
						z-index: 999;
						height: 100%;
						width: 100%;
						margin: 0;
						top: 98px;
						display: none;

						.inner{
							box-shadow: 0 5px 10px 0 rgba(0,0,0,.29),0 13px 30px 0 rgba(0,0,0,.17);
							box-sizing: border-box;
							border-radius: 3px;
							padding: 24px 12px;
							background: #fff;
							margin: 15% 5%;
							width: 90%;

							.text{
								text-transform: uppercase;
								font-weight: normal;
								text-align: center;
								height: initial;
								font-size: 14px;
								color: #404040;

								svg{
									border: 2px solid #09f;
									margin: 12px auto;
									border-radius: 50%;
									display: block;
									padding: 6px;
									height: 24px;
									width: 24px;
									fill: #09f;
								}
							}

							.button{
								text-align: center;
								margin: 24px 10% 0;
								line-height: 36px;
								background: #09f;
								height: 36px;
								color: #fff;
								width: 80%;

								&:hover,
								&:active{
									box-shadow: 0 5px 10px 0 rgba(0,0,0,.29),0 13px 30px 0 rgba(0,0,0,.17);
								}
							}
						}
					}
				}
			}
		}
	}
}