#Enable htaccess - rewrite_mod
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^id(.*) 		u_user.php?id=$1
	RewriteRule ^friends(.*) 	u_friends.php?id=$1
	RewriteRule ^photos(.*) 	u_photos.php?id=$1 [L,QSA]
	RewriteRule ^audios(.*) 	u_music.php?id=$1
	RewriteRule ^videos(.*) 	u_videos.php?id=$1
	RewriteRule ^messages 		u_messages.php
	RewriteRule ^settings 		u_settings.php
	RewriteRule ^news 			u_news.php
	
	RewriteRule ^cars cars.php
	RewriteRule ^brands/(.+) brand-models.php?marca=$1
	RewriteRule ^model/(.+) brand-model-page.php?modelo=$1
	RewriteRule ^shop shop.php
	RewriteRule ^versus versus.php
	RewriteRule ^blog blog.php
	RewriteRule ^error error.php
	RewriteRule ^register register.php
	RewriteRule ^login login.php
	RewriteRule ^forgot-password forgot-password.php

	RewriteCond %{HTTP_HOST} ^dvsg\.co [NC]
	RewriteRule ^(.*)$ http://www.dvsg.co/$1 [L,R=301]

##RewriteRule ^(.+).html ver-post.php?date=$1
#RewriteRule ^feed news/feed/index.php



