/*USER*/
@import 'mobile/pages/user/profile'; /*PROFILE Styles*/
@import 'mobile/pages/user/settings'; /*SETTINGS Styles*/
@import 'mobile/pages/user/messages'; /*MESSAGES Styles*/
@import 'mobile/pages/user/friends'; /*FRIENDS Styles*/
@import 'mobile/pages/user/music'; /*MUSIC Styles*/
@import 'mobile/pages/user/videos'; /*VIDEOS Styles*/
@import 'mobile/pages/user/photos'; /*VIDEOS Styles*/

@media (max-width: 899px){
	/*Fonts*/
		@font-face {
			font-family: 'DVSG';
			src: url('fonts/dvsg-bold.ttf') format('truetype');
			font-weight: bold;
		}
		@font-face {
			font-family: 'DVSG';
			src: url('fonts/dvsg-regular.ttf') format('truetype');
			font-weight: normal;
		}
		@font-face {
			font-family: 'DVSG';
			src: url('fonts/dvsg-thin.ttf') format('truetype');
			font-weight: 300;
		}
		@font-face {
			font-family: 'DVSG';
			src: url('fonts/dvsg-ultralight.ttf') format('truetype');
			font-weight: 100;
		}

	/*Keyframes*/
		@keyframes scale {
			0% {}
			100% { transform: scale(1.2) }
		}

		@keyframes ripple {
			0% {
				background: rgba(255, 255, 255, 0);
			}
			25% {
				background: rgba(255, 255, 255, 0.55);
				width: 15%;
				padding-bottom: 15%;
			}
			50% {
				background: rgba(255, 255, 255, 0.45);
				width: 85%;
				padding-bottom: 85%;
			}
			100% {
				width: 200%;
				padding-bottom: 200%;
				background: rgba(255, 255, 255, 0.25);
			}
		}

		@keyframes fade-background-images {
			0%{
				opacity: 1;
			}
			25% {
				opacity:0;
			}
			50%{
				opacity: 0;
			}
			100% {
				opacity:1;
			}
		}

		@keyframes fillunfill {
			from {stroke-dashoffset: 58.8}
			50% {stroke-dashoffset: 0;}
			to {stroke-dashoffset: -58.4}
		}

		@keyframes colorspinner {
			0% {stroke: #754fa0;}
			20% {stroke: #09b7bf;}
			40% {stroke: #90d36b;}
			60% {stroke: #f2d40d;}
			80% {stroke: #fcb12b;}
			100% {stroke: #ed1b72;}
		}

		@keyframes rotatespinner {
			from {transform: rotate(0deg);}
			to {transform: rotate(360deg);}
		}

		@keyframes rotspinner {
			from {transform: rotate(0deg);}
			to {transform: rotate(-360deg);}
		}

		@keyframes ripplesquarebox {
			to {
			-webkit-transform: 	scale(2);
			transform: 			scale(2);
			opacity: 			0;
		  	}
		}

		@keyframes spinbutton {
			0% {
				transform : scale(1.0);
			}
			15% {
				transform : scale(1.2);
			}
			25% {
				transform : scale(1.0);
			}
			50% {
				transform : scale(1.2);
			}
			100% {
				transform : scale(1.2);
			}
		}

	/*ScrollBar*/
		::-webkit-scrollbar { 
			display: none; 
		}

	/*Booleans*/
		/*$bodyColor: #15191D;*/
		$bodyColor: #132030;

	body {
		letter-spacing: 1px;
		font-family: 'DVSG';
		font-weight: 300;
		background: #fff;
		font-size: 14px;
		transition: .3s;
		color: #fff;
		padding: 0;
		margin: 0;

		&.stopPage{
			overflow: hidden;
		}

		&.bodyFixed{
			overflow: hidden;
		}

		a{
			background: none;

			&:active{
				background: none;
			}			

			&:hover{
				background: none;
			}

			&:link{
				background: none;
			}

			&:focus{
				background: none;
			}

			&:focus:hover{
				background: none;
			}
		}

		.innerBody{
			position: relative;
			overflow: hidden;
			transition: .3s;
			width: 100%;

			.headerUser{
				box-shadow: 0 2px 5px rgba(0,0,0,0.26);
				background: rgba(0,0,0,.666);
				transform: translateX(0);
				position: fixed;
				transition: .3s;
				display: block;
				height: 56px;
				width: 100%;
				z-index: 9;
				right: 0;
				left: 0;
				top: 0;

				.title{
					text-transform: uppercase;
					font-weight: normal;
					text-align: center;
					position: absolute;
					line-height: 56px;
					font-size: 16px;
					z-index: -1;
					width: 100%;
				}

				.buttonAction{
					float: right;
					height: 56px;
					width: 56px;
					margin: 0;
					top: 0;

					svg{
						margin: 16px;
						height: 24px;
						width: 24px;
						fill: #fff;
					}
				}

				.hidden {
					display: none !important;
					visibility: hidden;
				}

				.visuallyhidden {
					clip: rect(0 0 0 0);
					position: absolute;
					overflow: hidden;
					margin: -1px;
					height: 1px;
					width: 1px;
					padding: 0;
					border: 0;
				}

				.visuallyhidden.focusable:active,
				.visuallyhidden.focusable:focus {
					overflow: visible;
					position: static;
					height: auto;
					width: auto;
					clip: auto;
					margin: 0;
				}

				.invisible {
					visibility: hidden;
				}

				.clearfix:before,
				.clearfix:after {
					display: table;
					content: " ";
				}

				.clearfix:after {
					clear: both;
				}

				.headerEffect{
					position: absolute;
					overflow: hidden;
					height: 100%;
					width: 100%;
					z-index: -1;

					#headerEffect {
						animation: scale 15s infinite alternate;
						position: absolute;
						width: 100%;
						left: 0;
						top: 0;
					}
				}

				.logo{
					margin: 0 0 0 -28px;
					position: absolute;
					height: 56px;
					width: 56px;
					left: 50%;

					svg{
						margin: 16px;
						height: 24px;
						width: 24px;
					}
				}

				.userNameSession{
					display: none;
				}

				.menuLeft{
					height: 56px;
					width: 56px;
					float: left;
					margin: 0;
					top: 0;

					svg{
						margin: 16px;
						height: 24px;
						width: 24px;
						fill: #fff;
					}
				}

				.menuRight{
					float: right;
					height: 56px;
					width: 56px;
					top: 0;

					svg{
						margin: 16px;
						height: 24px;
						width: 24px;
						fill: #fff;
					}	
				}

				.userData,
				.userDataBox{
					display: none;
				}

				nav {
					font-weight: normal;
					text-align: center;
					overflow-x: scroll;
					overflow-y: hidden;
					position: absolute;
					height: 56px;
					width: 100%;
					z-index: 1;
					bottom: 0;
				
					ul.papertabs {
						position: relative;
						list-style: none;
						display: flex;
						width: 100%;
						padding: 0;
						margin: 0;

						li{
							text-overflow: ellipsis;
							display: inline-block;
							white-space: nowrap;
							overflow: hidden;
							height: 56px;
							float: left;
							width: 100%;

							a{
								text-transform: uppercase;
								text-decoration: none;
								white-space: nowrap;
								font-weight: normal;
								position: relative;
								line-height: 24px;
								font-size: 8px;
								color: #fff;
								float: left;
								width: 100%;
								
								&.pressed .paperripple .circleNav {
									animation: ripple 0.25s ease-in;
								}

								&.focused .paperripple {
									background: rgba(255, 255, 255, 0.25);
									transition: none;
								}

								svg{
									margin: 8px auto 0;
									display: block;
									height: 24px;
									width: 24px;
									fill: #FFF;
								}
							}
						}
					}
				}

				.paperripple {
					background: rgba(255, 255, 255, 0);
					transition: ease-in 0.4s;
					position: absolute;
					overflow: hidden;
					height: 100%;
					width: 100%;
					left: 0;
					top: 0;
				
					.circleNav {
						background: rgba(255, 255, 255, 0);
						transform: translate(-50%, -50%);
						position: absolute;
						border-radius: 50%;
						height: 0;
						left: 50%;
						width: 0;
						top: 50%;
					}
				}

				#papertabs-line {
					position: absolute;
					background: #fff;
					height: 2px;
					bottom: 0;
				}
			}

			.headerSettings,
			.headerMessages{
				height: 112px;
			}

			.innerBodyContent{
				background: $bodyColor;
				position: relative;
				overflow: hidden;
				transition: .3s;
				width: 100%;
				z-index: 8;
				top: 0;

				.pageBody{
					position: relative;
					overflow: hidden;
					z-index: 9;
					margin: 0;
				}

				.footer{
					background: $bodyColor;
					padding: 64px 0 24px;
					text-align: center;
					position: relative;
					height: 148px;
					float: left;
					width: 100%;
					z-index: 8;
					
					ul{
						display: -webkit-inline-box;
						display: -moz-inline-box;
						position: relative;
						margin: 0 0 12px 0;
						text-align: center;
						list-style: none;
						height: 36px;
						padding: 0;

						li{
							line-height: 36px;
							padding: 0 8px;

							&:active{
								border-radius: 3px;
								background: #fff;
								color: #404040;
							}
						}

						div{
							padding: 4px 0;
						}
					}
				}
			}

			/*NAV MENU*/
			.leftSideBlock{
				box-shadow: 0 12px 15px 0 rgba(0,0,0,.29), 0 17px 50px 0 rgba(0,0,0,0.17);
				overflow: hidden;
				background: #fff;
				position: fixed;
				display: none;
				width: 84%;
				bottom: 0;
				top: 0;

				.userBox{
				    background: #404040;
				    position: relative;
				    overflow: hidden;
				    height: 160px;
				    width: 100%;

				    .images{
						position: absolute;
						overflow: hidden;
						height: 100%;
						width: 100%;

						img.fadeImage{
							position: absolute;
							filter: blur(2px); 
							height: 44vw;
							width: 100%;
							
							&:nth-child(1) {
								animation: fade-background-images 24s 18s infinite;
							}

							&:nth-child(2) {
								animation: fade-background-images 24s 12s infinite;
							}

							&:nth-child(3) {
								animation: fade-background-images 24s 6s infinite; 
							}
						}
					}
					
					.image{
						box-sizing: content-box;
						border: 1px solid #fff;
						background-color: #777;
						margin: 0 0 18px 18px;
						border-radius: 50%;
						position: absolute;
						overflow: hidden;
						cursor: pointer;
						outline: none;
						height: 56px;
						width: 56px;
						bottom: 0;

						img{
							border-radius: 50%;
							height: 100%;
							width: 100%;
						}
					}

					ul{
						transform: translate(78px, 96px);
						padding: 0 0 0 16px;
						list-style: none;
						display: table;
						margin: 0;
						
						li{
							text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
							text-overflow: ellipsis;
							text-transform: none;
							font-weight: normal;
							overflow: hidden;
							font-size: 18px;
							width: 100%;
							color: #fff;

							&:last-child{
								font-size: 13px;
							}
						}
					}
				}

				.menu{
					margin: 160px 0 0 0;
					position: absolute;
					overflow-x: hidden;
					overflow-y: auto;
					width: 100%;
					bottom: 0;
					left: 0;
					top: 0;

					ul{
						list-style: none;
						padding: 0;
						margin: 0;

						li{
							line-height: 48px;
							color: #404040;
							height: 48px;
							width: 100%;

							svg{
								margin: 12px 24px;
								fill: #404040;
								height: 24px;
								width: 24px;
								float: left;
							}

							span{
								position: absolute;
								line-height: 48px;
								font-size: 13px;
								color: #404040;
							}

							.pending{
								margin: 12px 24px 0 0;
								background: #404040;
								border-radius: 12px;
								position: relative;
								line-height: 24px;
								font-size: 11px;
								min-width: 12px;
								padding: 0 6px;
								height: 24px;
								z-index: 999;
								float: right;
								color: #fff;
							}

							&:active{
								background: #09f;
								color: #fff;

								svg{
									fill: #fff;
								}

								span{
									color: #fff;
								}

								.pending{
									background: #fff;
									color: #404040;
								}
							}
						}
					}
				}
			}

			.leftSideClose,
			.rightSideClose{
				overflow: hidden;
				position: fixed;
				transition: 1s;
				display: none;
				height: 100%;
				z-index: 99;
				width: 100%;
				top: 0;
			}

			.addShadowColor{
				background: rgba(0, 0, 0, 0.333);
			}

			.rightSideBlock{
				overflow-y: scroll;
				background: #09f;
				position: fixed;
				display: none;
				height: 100%;
				color: #000;
				z-index: 1;
				width: 83%;
				right: 0;
				top: 0;
			}

			.activeBlock{
				display: block;
			}

			.logOutWindow{
				box-shadow: rgba(0, 0, 0, 0.2) 0px 27px 24px 0px;
				border-radius: 3px;
				background: #fff;
				position: fixed;
				padding: 10px 0;
				transition: .3s;
				z-index: 999;
				width: 90%;
				top: -100%;
				left: 5%;

				.text{
					text-align: center;
					color: #404040;
					padding: 24px;
				}

				.button{
					margin: 12px 0 12px 10%;
					background: #404040;
					text-align: center;
					border-radius: 3px;
					line-height: 36px;
					height: 36px;
					float: left;
					color: #fff;
					width: 36%;

					&:last-child{
						margin: 12px 0 12px 8%;
						background: #09f;
						color: #fff;
					}
				}
			}

			.logOutWindowActive{
				top: 25%;
			}

			.logOutWindowHidden{
				background: rgba(0,0,0,.666);
				position: fixed;
				z-index: 998;
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
				display: none;
				transition: 3s;
			}

			.logOutWindowHiddenActive{
				display: block;
			}

			.logOutFadeOut{
				transform: scale(1.4, 1.4);
				visibility: hidden;
				filter: blur(8px);
				transition: .3s;
				opacity: 0;
			}

			.webAccess{
				background: rgba(0,0,0,.666);
				position: fixed;
				height: 56px;
				width: 100%;
				z-index: 9;
				bottom: 0;
				left: 0;

				.button{
					text-transform: uppercase;
					margin: 7px 0 0 2%;
					text-align: center;
					border-radius: 3px;
					line-height: 42px;
					background: #fff;
					color: #404040;
					height: 42px;
					float: left;
					width: 47%;

					&:last-child{
						background: #09f;
						color: #fff;
					}
				}
			}

			.signInBox{
				background: #fff;
				transition: .46s;
				padding: 24px 0;
				position: fixed;
				bottom: -100%;
				z-index: 9999;
				width: 100%;
				left: 0;

				.error{
					background: rgba(213, 0, 0,.3);
					text-align: center;
					border-radius:3px;
					line-height: 36px;
					padding: 2px 3%;
					font-size: 13px;
					margin: 12px 3%;
					color: #D50000;
					display: none;
					height: 36px;
					width: 88%;
				}

				label{
					margin: 0 5%;
					font-size: 13px;
					color: #404040;
					float: left;
					width: 90%;
				}

				.input{
					border: 1px solid #999;
					border-radius: 3px;
					background: none;
					transition: .3s;
					margin: 12px 3%;
					font-size: 14px;
					color: #404040;
					outline: none;
					padding: 0 2%;
					height: 36px;
					width: 90%;

					&:focus{
						border: 1px solid #09f;
					}
				}

				.button{
					text-transform: uppercase;
					text-overflow: ellipsis;
					margin: 16px 0 0 3%;
					white-space: nowrap;
					border-radius: 3px;
					text-align: center;
					line-height: 36px;
					background: #fff;
					font-size: 13px;
					color: #0C98F5;
					outline: none;
					width: 45.5%;
					height: 36px;
					border: none;
					float: left;

					&:last-child{
						box-shadow: 0 3px 10px 0 rgba(0,0,0,.19), 0 17px 50px 0 rgba(0,0,0,0.07);
						background: #0C98F5;
						color: #fff;

					}

					&:active{
						box-shadow: 0 3px 10px 0 rgba(0,0,0,.19), 0 17px 50px 0 rgba(0,0,0,0.07);
						background: #09f;
						color: #fff;
					}
				}

				.check{
					display: none;
				}
			}

			.signInBoxActive{
				bottom: 0;
			}

			.signInBoxHidden{
				background: rgba(0,0,0,.666);
				position: fixed;
				z-index: 998;
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
				display: none;
				transition: 3s;
			}

			.signInBoxHiddenActive{
				display: block;
			}

			.cookieBox{
				box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.5);
				transition: .3s;
				background: #fff;
				position: fixed;
				height: 256px;
				width: 100%;
				z-index: 99;
				bottom: 0;
				left: 0;

				.text{
					padding: 24px 5% 12px;
					font-size: 13px;
					color: #404040;
				}

				.image{
					position: absolute;
					width: 64%;

					img{
						margin: -13px 0 0 0;
						width: 100%;
					}
				}

				.button{
					margin: 46px 26px 0 0;
					text-align: center;
					border-radius: 3px;
					line-height: 36px;
					background: #09f;
					height: 36px;
					float: right;
					width: 60px;
					color: #fff;
				}

				a{
					text-decoration: none;
					font-weight: normal;
					color: #111;
				}
			}

			.hideCookieBox{
				bottom: -300px;
			}
		}

		.hiddenBody{
			box-shadow: 0 0 6px 6px rgba(0,0,0,0.18), 
						0 0 1px 2px rgba(0,0,0,0.34);
			transform: translateX(0);
			background: $bodyColor;
			position: fixed;
			transition: .3s;
			display: block;
			height: 100%;
			width: 100%;
			z-index: 7;
			bottom: 0;
		}

		.moveToRight{
			transform: translateX(83%) !important;
			transition: .3s;
		}

		.moveToLeft{
			transform: translateX(-83%) !important;
			transition: .3s;
		}
	}
}